/* fonts */
$main: 'Roboto', sans-serif;
$second: 'Gelasio', serif;
$logo: 'Ribeye', cursive;

/* font-size */
$normal: 18px;

/* text-color */
$main-text-color-b: #000000;
$main-text-color-w: white;
